/* Head */
.head {
  background-color: #1c1d1f;  
  padding-top: 32px;
}

.container {
  color: #fff;
}

/* Links */
.guide-link {
  color: #b7a9e5;
  text-decoration: none;
  font-weight: 700;
}

.forward-arrow {
  padding: 0 8px;
  font-size: 0.6rem;
}

/* Title */
.head__title {
  text-transform: capitalize;
  font-weight: 700;
  margin-top: 8px;
  font-size: 2.3rem;
  line-height: 1.2;
}

/* Description */
.head__des {
  font-size: 1.4rem;
  line-height: 1.4;
  margin: 8px 0;
  font-weight: 300;
}

.head__created-by {
  font-size: 1rem;
  font-weight: 300;
}

.profile-link {
  text-decoration: underline;
  color: #b7a9e5;
}

/* Buttons */
.head__buttons {
  display: flex;
  margin-top: 16px;
  padding-bottom: 48px;
}

.buttons__btn {
  display: block;
  color: #fff;
  padding: 5px 12px;
  border: 1px solid #fff;
  margin-right: 16px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.buttons__icon {
  margin-left: 8px;
}



/* Body */

.des-box {
  background: #f7f9fa;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 32px;
}