/* Head */
/*.head {*/
/*  background-color: #1c1d1f;  */
/*  padding-top: 32px;*/
/*  color: #fff;*/
/*}*/

/* Links */
/*.guide-link {*/
/*  color: #b7a9e5;*/
/*  text-decoration: none;*/
/*  font-weight: 700;*/
/*}*/

/*.forward-arrow {*/
/*  padding: 0 8px;*/
/*  font-size: 0.6rem;*/
/*}*/

/* Title */
/*.head__title {*/
/*  text-transform: capitalize;*/
/*  font-weight: 700;*/
/*  margin-top: 8px;*/
/*  font-size: 2.3rem;*/
/*  line-height: 1.2;*/
/*}*/

/* Description */
/*.head__des {*/
/*  font-size: 1.4rem;*/
/*  line-height: 1.4;*/
/*  margin: 8px 0;*/
/*  font-weight: 300;*/
/*}*/

/*.head__created-by {*/
/*  font-size: 1rem;*/
/*  font-weight: 300;*/
/*}*/

/*.profile-link {*/
/*  text-decoration: underline;*/
/*  color: #b7a9e5;*/
/*}*/

/* Buttons */
.head__buttons {
  display: flex;
  margin-top: 16px;
  padding-bottom: 48px;
}

.buttons__btn {
  display: block;
  color: #fff;
  padding: 5px 12px;
  border: 1px solid #fff;
  margin-right: 16px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
}

.buttons__icon {
  margin-left: 8px;
}
/* End head */






/* Body */
.des-box {
  background: #f7f9fa;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 48px;
  padding: 0px 20px;
}

/* Heading */
.des-box__heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 0;
}

.des-box__body {
  margin-bottom: 16px;
}

.body__cover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #1c1d1f;
}

.body__cover-col {
  width: 45%;
}

.check-icon {
  margin-right: 16px;
  flex-shrink: 0;
}

/* Media queries */

@media (max-width: 768px) {
  .body__cover {
    display: unset;
  }
}

@media (max-width: 768px) {
  .body__cover-col {
    width: 100%;
    margin-bottom: 4px;
    font-size: 1.1rem;
  }
}

/* End body */




/* Buy-course bar */

/* .buy_course {
  position: fixed;
  top: 96px;
  z-index: 1;
  border-bottom: 1px solid #d1d7dc;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
  border-radius: 4px;
  background-color: #fff;
} */

      /* Video */
.buy-course__video {
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin: 12px 0;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
}

.course-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
      /* Price, sale */
.buy-course__cover {
  padding: 0 8px;
}

.bc-cover__price {
  color: #000;
  display: flex;
  font-size: 1rem;
}

.price__current {
  font-size: 2.2rem;
  font-weight: 700;
}

.price__default {
  text-decoration: line-through;
  color: #6a6f7a;
  margin-top: 16px;
  margin-left: 8px;
}

.price__sale {
  color: #1c1d1f;
  margin-top: 16px;
  margin-left: 8px;
}

.bc-cover__sale-time {
  color: #b32d0f;
  font-size: 0.9rem;
  padding-bottom: 24px;
}

.clock-icon {
  margin-right: 8px;
}

      /* Buttons */
.bc-btn {
  width: 100%;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  height: 44px;
  color: #fff;
  font-size: 1rem;
}

.bc-btn__add {
  margin-bottom: 8px;
  background: #a435f0;
  border-color: #a435f0;
}

.bc-btn__buy {
  background: #fff;
  color: #5624d0;
  margin-bottom: 32px;
  border: 1px solid #5624d0;
}

.bc-btn:hover {
  opacity: 0.9;
}



        /* Description */
/*.description__cover {*/
/*  max-height: 200px;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  margin-bottom: 16px;*/
/*}*/

/*.description__cover:before {*/
/*  content:'';*/
/*  width:100%;*/
/*  height:100%;    */
/*  position:absolute;*/
/*  left:0;*/
/*  top:0;*/
/*  background:linear-gradient(transparent 150px, white);*/
/*}*/

/*.description {*/
/*  margin-top: 32px;*/
/*}*/

/*.description__title {*/
/*  font-size: 1.5rem;*/
/*  font-weight: 700;*/
/*  margin-bottom: 12px;*/
/*}*/

/*.read-more {*/
/*  all: unset;*/
/*  margin-top: 16px;*/
/*  color: #5624d0;*/
/*  font-size: 1rem;*/
/*  font-weight: 600;*/
/*  background-color: transparent;*/
/*}*/

/*.read-more:hover {*/
/*  color: #401b9c;*/
/*}*/

/*.read-more:focus {*/
/*  outline: none;*/
/*}*/

/*.fa-caret-down {*/
/*  margin-left: 8px;*/
/*}*/



        /* Instructor's information */

/* .instructor {
  
}

.ins__title {

}

.ins__cover {
}

.ins__name {

}

.ins__pos {

}

.ins__info {

}

.ins__picture {

}

.ins__overview {

}
.overview__info {
}

.overview__icon {

}

.ins__des {
} */