/* Cart buy button */

.buy-btn {
    background: #404d67;
    color: #fff;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer__text_cover {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    align-items: center;
}

.total-pay {
    padding-left: 8px;
    color: #ee4d2d;
    font-size: 1.4rem;
    font-weight: 600;
}

.accept_buy_btn {
    background: #ee4d2d;
}

/* End Cart buy button */