/* Cart header */
/*.header {*/
/*    background-color: #1c1d1f;*/
/*}*/

/*.cart__header {*/
/*    color: #fff;*/
/*    font-size: 2rem;*/
/*    font-weight: 400;*/
/*    text-transform: capitalize;*/
/*    padding-bottom: 6px;*/
/*    line-height: 140px;*/
/*}*/

/* End cart header */



/* Cart body */

/* .body__interact-box {
    display: flex;
    height: 45px;
    border: 1px solid #cccccc6b;
    border-radius: 3px;
    line-height: 45px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 32px 0;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 400;
    color: #bfbfbf;
    box-shadow: 2px 1px 1px rgb(0 0 0 / 10%);
}

.checkbox-text {
    margin-left: 16px;
} */

/*.body__course {*/
/*    border: 1px solid #cccccc6b;*/
/*    border-radius: 3px;*/
/*    padding: 4px 16px;*/
/*    display: flex;*/
/*    margin-left: -1px;*/
/*    margin-top: -1px;*/
/*}*/

/*.course__wrap {*/
/*    display: flex;*/
/*    font-size: 1rem;*/
/*    font-weight: 400;*/
/*}*/

/*.course__checkbox {*/
/*    margin: auto 16px auto 0;*/
/*}*/

/*.course__picture {*/
/*    margin-right: 16px;*/
/*    width: 150px;*/
/*    border-radius: 3px;*/
/*}*/

/*.course__price {*/
/*    margin: auto 0;*/
/*    font-size: 1.5rem;*/
/*    font-weight: 400;*/
/*    color: #a96bf4;*/
/*}*/

/*.course__action {*/
/*    margin: auto 0;*/
/*}*/


/* Buttons */
/* .btn--cart {
    width: 100%;
    background: #8841b5;
    border: none;
    border-radius: 3px;
    height: 2.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.btn--cart:hover {
    color: #fff;
    opacity: 0.8;
}

.btn--cart:focus {
    outline: none;
} */

/* End Cart body */



/* Cart buy button */

/* .buy-btn {
    background: #404d67;
    color: #fff;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer__text-cover {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px;
    align-items: center;
}

.total-pay {
    padding-left: 8px;
    color: #ee4d2d;
    font-size: 1.4rem;
    font-weight: 600;
}

.accept-buy-btn {
    background: #ee4d2d;
} */

/* End Cart buy button */


/* Cart other courses */

/* .other-courses {
    margin-top: 48px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.o-course {
    position: relative;
}

.o-course__cover {
    border: 1px solid #ccc;
    margin-top: -1px;
    margin-left: -1px;
}

.o-course__pic-cover {
    height: 150px;
    overflow: hidden;
}

.o-course__pic {
    width: 100%;
}

.o-course__wrapper {
    margin: 16px;
}

.o-course__link {
    color: #000;
}

.o-course__link:hover {
    color: #000;
}

.o-course__name {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    height: 3rem;
    overflow: hidden;
}

.o-course__teacher {
    font-size: 0.8rem;
    opacity: 0.8;
    max-height: 1.3rem;
    overflow: hidden;
}

.o-course__price {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    color: #8841b5;
} */

    /* Display popup */
/* .o-course:hover .o-course__popup {
    display: block;
} */

            /* other course -- popup */

/* .o-course::before {
    content: "";
    height: 100%;
    width: 30px;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 1;
}

.o-course::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;   
    border-right:10px solid #fff;
    z-index: 1;
}

.o-course__popup {
    position: absolute;
    top: 0;
    left: 103%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    display: none;
}

.popup__cover {
    margin: 16px;
    height: 92%;
    position: relative;
}

.popup__name {
    font-size: 1.6rem;
    font-weight: 600;
}

.popup__des {
    color: rgba(0,0,0,.6);
    margin-top: 32px;
}

.popup__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart {
    width: 80%;
    font-size: 0.8rem;
}

.popup__heart {
    font-size: 1.4rem;
    color: rgba(0,0,0,0.5);
}

.popup__heart:hover {
    cursor: pointer;
    color: #8841b5;
} */

            /* end other course -- popup */

/* End Cart other courses */