.other_courses {
    margin-top: 48px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
}

.o_course {
    position: relative;
}

.o-course__cover {
    border: 1px solid #ccc;
    margin-top: -1px;
    margin-left: -1px;
}

.o-course__cover:hover{
    cursor: pointer;
}


.o-course__pic-cover {
    height: 150px;
    overflow: hidden;
}

.o-course__pic {
    width: 100%;
}

.o-course__wrapper {
    margin: 16px;
}

.o-course__link,
.o-course__link:hover {
    color: #000;
}

.o-course__name {
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: capitalize;
    height: 3rem;
    overflow: hidden;
}

.o-course__teacher {
    font-size: 0.8rem;
    opacity: 0.8;
    max-height: 1.3rem;
    overflow: hidden;
}

.o-course__price {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    color: #8841b5;
}

    /* Display popup */
/*.o-course:hover .o-course__popup {*/
/*    display: block;*/
/*}*/

            /* other course -- popup */

/* .o-course::before {
    content: "";
    height: 100%;
    width: 30px;
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 1;
}

.o-course::after {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;   
    border-right:10px solid #fff;
    z-index: 1;
} */

.o-course__popup {
    position: absolute;
    top: 0;
    left: 103%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
     display: none;
}

.popup__cover {
    margin: 16px;
    height: 92%;
    position: relative;
}


.popup__name {
    font-size: 1.6rem;
    font-weight: 600;
}

.popup__des {
    color: rgba(0,0,0,.6);
    margin-top: 32px;
}

.popup__bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup__heart {
    font-size: 1.4rem;
    color: rgba(0,0,0,0.5);
    margin-left: 16px;
}

.popup__heart:hover {
    cursor: pointer;
    color: #8841b5;
}

            /* end other course -- popup */
